---
version: '3.8'

services:
  db:
    image: dbimage:latest
    ports:
      - "3306:3306"
    networks:
      - mynet

  auth_service:
    image: authimage:latest
    ports:
      - "5001:5001"
    networks:
      - mynet

  book_service:
    image: bookimage:latest
    ports:
      - "5002:5002"
    networks:
      - mynet

  borrow_service:
    image: borrowimage:latest
    ports:
      - "5003:5003"
    networks:
      - mynet
      
  frontend:
    image: appimage:latest
    ports:
      - "5000:5000"
    networks:
      - mynet

networks:
  mynet:
    external: true
